.bg{
    background-image:url( /img/courtjesterentrance.webp);
    background-size:cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}
.mt{
    margin-top: 250px;
}

/* .btn-light{margin-bottom: 200px;} */

.pgimgsize{
    width: 250px;
    height: 500px;
}

.bg2{
    min-height: 100vh;
}

.fixed-row {
    min-height: 100vh;
}

.book{
    border-color: black;
    background-color: black;
    color: white;
}