.bg{
    background-image:url( /img/courtjesterentrance.webp);
    background-size:cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}
.mt{
    margin-top: 250px;
}

/* .btn-light{margin-bottom: 200px;} */

.ndpgimgsize{
    /* width: 25%;
    height: 50%; */
}

.bg2{
    min-height: 100vh;
}

.fixed-row {
    min-height: 100vh;
}